.container {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    position:relative;
    width:100vw;
    max-width:100vw;
}

.coverImage {
    width:100vw;
    max-width:100vw;
}