.btn-primary {
  padding:10px 20px;
  border-radius:10px;
  color:#FFF;
}

.callToAction {
  background-size:cover;
  background-repeat:no-repeat;
  background-position:center center;
  color:#FFF;
  position:relative;
  margin:0 auto;
}

.panel {
  z-index:100;
}
