header.site-header nav ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
    position: relative;
}

header.site-header nav ul li {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

header.site-header nav ul li > ul {
    box-shadow: 0 4px 10px -2px rgba(0,0,0,.1);
}

header.site-header nav ul li a {
    color:#333;
}